<div  class=" container-fluid no-padding ">
  <div class="col-md-12 no-padding">
      <div class="col-md-12 thankyou_left no-padding">
          <div class=" login_head">
            <div class="thankyou_middle">
              <img src="../../assets/img/logo-belrium.png" class="img-responsive" alt="logo">
              <h2>{{message}}</h2>
              <hr>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br/>
                tempor incididunt ut labore et dolore</p> -->
              <a routerLink="/login" routerLinkActive="active">Login</a>
          </div>
      </div>
  </div>
</div>