<div class=" container ">
  <div class="row">
    <div class="col-md-12">
      <!-- START card -->
      <div class="card card-default">
        <div class="card-header ">
          <div class="card-title">
            Search User By Email:
          </div>
        </div>
        <div class="card-block">
          <form class="" role="form">
            <div class="row">
              <div class="col-md-5 col-sm-6 col-xs-8">
                <div class="form-group form-group-default required">
                   <input type="email" class="form-control" placeholder="abc123@xyz.com" required>
                </div>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-4">
                <div class="form-group ">
                  <button class="btn btn-default changepassword-btn">SEARCH</button>
              </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- END card -->
    </div>
    <div class="col-md-12">
      <!-- START card -->
      <div class="card card-transparent">
        <div class="card-header ">
          <div class="card-title">VERIFICATION AGENCIES
          </div>
          <div class="tools">
            <a class="collapse" href="javascript:;"></a>
            <a class="config" data-toggle="modal" href="#grid-config"></a>
            <a class="reload" href="javascript:;"></a>
            <a class="remove" href="javascript:;"></a>
          </div>
        </div>
        <div class="card-block">
          <div class="table-responsive">
            <table class="table table-bordered" id="stripedTable">
              <thead>
                <tr>
                  <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user
            Comman Practice Followed
            -->
                  <th style="width:40%">DATE</th>
                  <th style="width:30%">AGENCY NAME</th>
                  <th style="width:30%">AGENCY CONTACT DETAILS</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="v-align-middle semi-bold">
                    <p>1 April 2017</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Agency</p>
                  </td>
                  <td class="v-align-middle">
                    <p>asdfg</p>
                  </td>
                </tr>
                <tr>
                  <td class="v-align-middle semi-bold">
                    <p>1 April 2017</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Agency</p>
                  </td>
                  <td class="v-align-middle">
                    <p>asdfg</p>
                  </td>
                </tr>
                <tr>
                  <td class="v-align-middle semi-bold">
                    <p>1 April 2017</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Agency</p>
                  </td>
                  <td class="v-align-middle">
                    <p>asdfg</p>
                  </td>
                </tr>
                <tr>
                  <td class="v-align-middle semi-bold">
                    <p>1 April 2017</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Agency</p>
                  </td>
                  <td class="v-align-middle">
                    <p>asdfg</p>
                  </td>
                </tr>
                <tr>
                  <td class="v-align-middle semi-bold">
                    <p>1 April 2017</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Agency</p>
                  </td>
                  <td class="v-align-middle">
                    <p>asdfg</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END card -->
    </div>
  </div>
</div>