<div class=" container ">
  <div class="row">
    
    <div class="col-md-12">
      <!-- START card -->
      <div class="card card-transparent">
        <div class="card-header myvotes">
          <div class="card-title">0 out of 0 Delegates selected <span><a><i class="fa fa-eye"></i> View selection</a> <a><i class="fa fa-times"></i>Remove Vote</a></span>
          </div>
        </div>
        
      </div>
      <!-- END card -->
    </div>
    <div class="col-md-12">
        <div class="col-md-12 sidechain_app_install">
            <h4>My Votes<span>0 in Total</span></h4>
            <div class="col-md-12 my_votes">
                <img src="assets/img/logo-belrium.png" class="img-responsive"/>
                <p>You have not voted for any delegates yet.</p>
            </div>
        </div>
       </div> 
  </div>
</div>