.login{display: table;    height: 100vh;
    padding: 0 0% !important;    overflow: hidden;}
    .bitmap_bk{background-image:url('../../../assets/img/bitmap_bk.png');    background-size: auto;
        background-repeat: no-repeat;}
.login_welcome h2{color: #666;margin-top: 0;}
.login_welcome p{color: #666;}
.login img{margin: auto;margin-bottom: 30px;}
.login_welcome{padding:25% 0;}
.login_left {overflow: hidden;}
.login_head{padding:42% 15% 5% 15% !important}
.changepassword-btn{background: #cd2122;color: #fff;border: none;border-radius: 6px; float: right}
.login_head p{margin-bottom: 30px;}
.login_head a{    padding: 7px 20px;
    border-radius: 7px;}
.login_head img{margin-bottom: 20px;}
.login_ul li{    display: inline-block;
    width: 24%;
    padding: 0% 4%;
    -webkit-box-shadow: 0px 0px 18px #d4d4d4;
    box-shadow: 0px 0px 18px #d4d4d4;
    border-radius: 5px;
    text-align: center;
    height: 170px;
    float: left;
    margin-bottom: 30px;}
.login_ul{padding: 0;}
.login_input{width:303px;}
.login_ul li h3{color: #cd2122;font-size: 16px;}
.login_ul p{font-size: 12px;}
.form-group {margin-bottom: 30px;}
.need_account hr{margin-top: 0px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #b1b1b1;}
.login_inner a{color: #b1b1b1}
.login_inner .changepassword-btn{padding: 0;
    border-radius: 5px;
    width: 120px;
    height: 30px;}
.need_ac_top{border-top:1px solid #666;padding-top: 25px !important;}
.login_inner .register_btn{    background: #cd2122;
    color: #fff !important;
    border: 2px solid #cd2122;}
.pad_8{    padding-top: 8px !important;}
.login_left hr{    width: 50px;
    margin-left: 0;
    border-top: 2px solid #fff;
    margin-top: 10px;}
.content-center{padding: 0;}
.form-control{    background-color: #e4e4e4;}
.changepassword-btn:hover{background: #cd2122;}
@media screen and (min-device-width: 1025px) and (max-device-width: 1400px) { 
    .login_welcome{    padding: 35% 0;}
    .login_head{    padding: 50% 15% 5% 15% !important;}
}

@media screen and (min-device-width: 769px) and (max-device-width: 1204px) { 
    .login_welcome{    padding: 45% 0;}
    .login_head{    padding: 60% 15% 5% 15% !important;}
    
}
@media screen and (min-device-width: 320px) and (max-device-width: 768px) { 
    .login{padding:0% 5% 5% 5% !important;}
    .login_ul li{width: 100%;    margin-bottom: 20px;height: auto;}
    .login_head{padding: 5% 15% 5% 15% !important;}
    .bitmap_bk{    background-image: none;}
}

.login-register-button{

    /*margin-left: 265px;
    width:0 !important;
    margin-top: -53px;*/
}

.otp{
    margin-top: 0px !important;
    margin-bottom: 15px;
}
