<div  class=" container-fluid no-padding ">
  <div class="col-md-12 no-padding bitmap_bk">
      <div class="col-md-7 login_left no-padding">
          <div class="col-md-12 no-padding login_head">
              <img src="../../assets/img/logo-belrium-b.png" class="img-responsive" alt="logo">
              <p>Enhanced Compliance Blockchain</p>
              <p>Empowering individuals and businesses with the world’s<br/>
                      smartest enterprise grade compliant blockchain solution.</p>
              <ul class="login_ul">
                  <li>
                      <h3>DPOS Consensus</h3>
                      <p>Reduces the use of energy proving security like that of bitcoin.</p>
                  </li>
                  <li>
                          <h3>Secured Contract Ability</h3>
                          <p>Empowers to fulfill plethora of use cases</p>
                      </li>
                      <li>
                              <h3>Side Chain Capabilities</h3>
                              <p>Private networks for Data Storage</p>
                          </li>
                          <li>
                              <h3>Real-World Data Oracles</h3>
                              <p>Supports Real-World Data to automate use cases</p>
                          </li>

              </ul>
              <a href="#" class="btn btn-default changepassword-btn">Know More</a>
          </div>
      </div>
      <div class="col-md-5 login no-padding">
              <div class="col-md-12 login_welcome">
                      <p>Welcome to the</p>
                      <h2>Belrium Verification System</h2>
              </div>
        <div class="col-md-6 login_inner">
            <p> You're signed-out successfully.</p>
            
          <div class="col-md-12 need_account no-padding">
              <hr>
              
                <div class="form-group col-md-6  col-sm-6 col-xs-6 no-padding text-right login-register-button">
                    <button  routerLink="/login" routerLinkActive="active" class="btn btn-default changepassword-btn register_btn">Login Now</button>
                </div>
          </div>
      
        </div>
      </div>
  </div>
  <div *ngIf="secretModal" class="overlay" (click)="closeSecretKeyLoginModal()"></div>                      
</div>
  <!-- Secret Key Modal -->
  




