<div  class=" container-fluid no-padding ">
  <div class="col-md-12 no-padding">
      <div class="col-md-12 thankyou_left no-padding">
          <div class="login_head">
            <div class="thankyou_middle">
              <img src="../../assets/img/thankyou-register.png" class="img-responsive" alt="logo">
              <h2>Thank you for your Registration </h2>
              <hr>
              <p class="register-login">Kindly verify your mail</p>
              <br>
              <a routerLink="/login" routerLinkActive="active">Login</a>
          </div>
      </div>
  </div>
</div>