.dashboard_main .card{background: #fff;    margin: 0px 0 10px 0;}
.card-header{padding:8px 20px;        box-shadow: 0px 0px 24px #e0e0e0;
    margin-bottom: 8px;
    margin-right: 8px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;background-color:#fff;    min-height: 275px;}
.card-header h3{     background: #29a6e8;
    color: #fff;
    border-radius: 50px;
    font-size: 40px;
    display: -webkit-inline-box;
    width: 100px;
    height: 100px;
    text-align: center;position: relative;}
.card-header h3>span{    position: absolute;
    top: 29%;
    left: 13%;}
.dashboard_main .pull-right{    margin-top: 10px;
    margin-bottom: 10px;}
    .card-description{padding:8px 20px;}
    .card-footer{padding:8px 20px;}
    .dashboard_main .pull-left{    margin-top: 10px;
        margin-bottom: 10px;}
    .pad_left_right{padding-left: 5px;
        padding-right: 5px;}
.total_request{padding:8px 20px;}
.progress{    margin-bottom: 0;
    height: 4px;
    border-radius: 0;}
.total_users_card h3{background: #e82454;}
.total_users_card h3>span{left: 31%;}
.progress-bar{    background-color: #07c25f;}
.progress{background-color: #b1b1b1;}
.card-title{    margin-top: 8px;
    margin-bottom: 8px;font-size: 20px;
    font-weight: 100;}
.card-title i{    float: right;
    padding-top: 8px;
    font-size: 15px;}
.total_request h3{padding-bottom: 30px;}
.card-header-2{      
    box-shadow: 0px 0px 24px #e0e0e0;
    margin-bottom: 8px;
    margin-right: 8px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background-color:#fff;    
    min-height: 280px;
}
.card-header-2 h3{     background: #29a6e8;
    color: #fff;
    border-radius: 50px;
    font-size: 40px;
    display: -webkit-inline-box;
    width: 100px;
    height: 100px;
    text-align: center;position: relative;
}

.card-header-2 h3>span{    
    position: absolute;
    top: 29%;
    left: 13%;
}

chart-legend ng-tns-c10-1 ng-star-inserted{
    background-color: red
}

