<div  class=" container-fluid no-padding ">
    <div class="col-md-12 no-padding bitmap_bk">
        <div class="col-md-7 login_left no-padding">
            <div class="col-md-12 no-padding login_head">
                <img src="../../assets/img/logo-belrium-b.png" class="img-responsive" alt="logo">
                <p>Enhanced Compliance Blockchain</p>
                <p>Empowering individuals and businesses with the world’s<br/>
                        smartest enterprise grade compliant blockchain solution.</p>
                <ul class="login_ul">
                    <li>
                        <h3>DPOS Consensus</h3>
                        <p>Reduces the use of energy proving security like that of bitcoin.</p>
                    </li>
                    <li>
                            <h3>Secured Contract Ability</h3>
                            <p>Empowers to fulfill plethora of use cases</p>
                        </li>
                        <li>
                                <h3>Side Chain Capabilities</h3>
                                <p>Private networks for Data Storage</p>
                            </li>
                            <li>
                                <h3>Real-World Data Oracles</h3>
                                <p>Supports Real-World Data to automate use cases</p>
                            </li>
  
                </ul>
                <a href="#" class="btn btn-default changepassword-btn">Know More</a>
            </div>
        </div>
        <div class="col-md-5 login no-padding">
                <div class="col-md-12 login_welcome">
                        <p>Welcome to the</p>
                        <h2>Belrium Verification System</h2>
                </div>
          <div class="col-md-6 login_inner">
            <p>Reset your password</p>
            <form class="" role="form" #resetUserForm="ngForm">
                <div *ngIf="authenticationOTP" class="form-group form-group-default otp">
                    <!-- <label class="">Google 2FA OTP</label> -->
                    <input 
                            type="totp" 
                            class="form-control" 
                            name="totp"
                            #otp="ngModel" 
                            (keydown.space)="$event.preventDefault()" 
                            [(ngModel)]="userCredentials['totp']"
                            placeholder="Enter Google 2FA OTP" 
                            pattern="^[0-9]{6}$" 
                            minlength="6" 
                            maxlength="6" 
                            required
                    />
                    <div *ngIf="otp.errors && otp.dirty">
                        <div [hidden]="otp.errors.required || !otp.errors.pattern" class="error">
                            Invalid OTP.
                        </div>
                        <div [hidden]="otp.errors.required || otp.errors.pattern || (roleNameField.errors.minlength && roleNameField.errors.minlength['requiredLength']<roleNameField.errors.minlength['actualLength'])" class="error">
                            OTP should be at least 6 characters long.
                        </div>
                        <div [hidden]="!otp.errors.required" class="error">
                            <p *ngIf="otpMessage">{{otpMessage}}</p>
                            <p *ngIf="!otpMessage">OTP is required.</p>
                        </div>
                        </div>
                        <div [hidden]="(!otp.touched || otp.dirty) || (otp.value && otp.value.length)" class="error">
                            <p *ngIf="otpMessage">{{otpMessage}}</p>
                            <p *ngIf="!otpMessage">OTP is required.</p>
                        </div>
                </div>
              <div class="form-group form-group-default required">
                <input 
                    type="password" 
                    class="form-control" 
                    name="password"
                    #password="ngModel" 
                    (keydown.space)="$event.preventDefault()" 
                    [(ngModel)]="userCredentials['password']"
                    placeholder="New Password" 
                    minlength="7" 
                    maxlength="20" 
                    pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{7,21})" 
                    (keyup)="checkMaxLength(20, userCredentials['password'], 'password')"
                    required
                />
                <div class="password-strength-bar">
                    <ng2-password-strength-bar
                        [passwordToCheck]="userCredentials['password']"
                        [barLabel]="barLabel"
                        [barColors]="myColors"
                        [strengthLabels]="strengthLabels">
                    </ng2-password-strength-bar>
                </div>
                <div *ngIf="(password.errors && ((password.dirty || password.touched)))" class="error"> 
                        <div *ngIf="password.errors.required && !password.errors.minlength && !password.errors.pattern && !password.errors.maxlength">New password is required.</div>
                        <div *ngIf="!(password.errors && (isFormSubmitted == true || (password.dirty || password.touched))) && fieldErrors.password" class="error"></div>
                        <div *ngIf="password.errors.minlength && !password.errors.required"> New password should be atleast 7 character long.</div>
                        <div *ngIf="password.errors.pattern && !password.errors.minlength && !password?.errors?.maxlength && !fieldErrors.password "> New password should contains atleast one uppercase, one lowercase , one number and one special character.</div>
                </div>
                <div *ngIf="!password?.errors?.minlength && !password?.errors?.required && fieldErrors.password" class="error">
                        New password cannot be more than 20 characters.
                </div>
            </div>

              <div class="form-group form-group-default required">
                  <input 
                      type="password" 
                      [(ngModel)]="userCredentials['confirmedPassword']" 
                      name="userConfirmedPassword"
                      #userConfirmedPassword="ngModel"
                      class="form-control" 
                      placeholder="Confirm Password"
                      minlength="7"
                      maxlength="20"
                      (keyup)="checkMaxLength(20, userCredentials['confirmedPassword'], 'userConfirmedPassword')"
                      required
                  />
                  <div *ngIf="(userConfirmedPassword.errors && ((userConfirmedPassword.dirty || userConfirmedPassword.touched)))" class="error"> 
                      <div *ngIf="userConfirmedPassword.errors.required && !userConfirmedPassword.errors.minlength && !userConfirmedPassword.errors.pattern && !userConfirmedPassword.errors.maxlength"> Confirm password is required.</div>
                  </div>
                  <div *ngIf="userCredentials['password'] && userCredentials['password'].length > 0 && userCredentials['confirmedPassword'] && userCredentials['confirmedPassword'].length > 0 &&  userCredentials['confirmedPassword'] != userCredentials['password'] && !fieldErrors['userConfirmedPassword']" class="error">Confirm password is not matched</div>
                  <div *ngIf="!userConfirmedPassword?.errors?.minlength && !userConfirmedPassword?.errors?.required && fieldErrors.userConfirmedPassword" class="error">
                        Confirm password cannot be more than 20 characters.
                </div>
                </div>
              <div class="form-group col-md-6 no-padding">
                  <button [disabled]="resetUserForm.invalid || fieldErrors['password'] || fieldErrors['userConfirmedPassword'] " class="btn btn-default changepassword-btn" (click)="saveAndUpdatePassword()">Reset Password</button>
                </div>
          </form>
          </div>
        </div>
    </div>               
  </div>