<div  class=" container-fluid no-padding ">
    <div class="col-md-12 no-padding">
        <div class="col-md-5 login_left no-padding">
            <div class="col-md-12 login_head">
                <h2>Belrium The KYC Based Blockchain</h2>
                <hr>
            </div>
            <div class="col-md-12 no-padding">
                <img src="../../assets/img/login.png" class="img-responsive" alt="login">
            </div>
        </div>
        <div class="col-md-7 login no-padding">
          <div class="login_inner">
              <img src="../../assets/img/logo-belrium.png" class="img-responsive" alt="logo">
              <form class="" role="form" #loginForm="ngForm">
                  <div class="form-group form-group-default required">
                    
                    <input 
                          type="email" 
                          class="form-control" 
                          placeholder="Email" 
                            name="email"
                            [(ngModel)]="email"
                          value='{{email}}'
                          placeholder="Enter Your Email" 
                          disabled=true
                          pattern="^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$" 
                          maxlength="250" 
                          (keydown.space)="$event.preventDefault()"
                          required
                      />
                       <div *ngIf="email.errors && email.dirty">
                              <div [hidden]="!email.errors.required" class="error captcha">
                                  Email is required.
                              </div>
                              <div [hidden]="!email.errors.pattern" class="error captcha">
                                     Email is not valid.
                              </div>
                      </div> 
                  </div>
                  <div class="form-group form-group-default required" class="form-error">
                      <input 
                          type="password" 
                          class="form-control" 
                          name="password"
                          #password="ngModel" 
                          (keydown.space)="$event.preventDefault()" 
                          [(ngModel)]="userLoginData.password"
                          placeholder="Enter Your Password" 
                          minlength="1" 
                          maxlength="20" 
                          required
                      />
                      <div *ngIf="(password.errors && ((password.dirty || password.touched)))" class="error captcha"> 
                              <div *ngIf="password.errors.required">Password is required.</div>
                      </div>
                     </div>
                   <!-- <p-captcha [siteKey]="captchaSiteKey" (onResponse)="showResponse($event)" #captcha></p-captcha>
                  <div *ngIf="!isCapatcha" class="error">{{captchaError}}</div>
  -->

                  <div class="form-group col-md-6 no-padding pad_8">
                    <a routerLink="/forget-password" routerLinkActive="active">Forgot Password</a>
                  </div>
                  <div class="form-group col-md-6 no-padding text-right">
                      <button [disabled]="loginForm.invalid || maxLengthExceeded['email']" class="btn btn-default changepassword-btn" (click)="userLogin()">Sign In</button>
                  </div>
              </form>
              
          </div>
        </div>
    </div>
                                                              <!-- Secret Key Modal -->
    <app-dialog [(visible)]="secretModal">
          <div class="popup_dialouge poup_edit">
            <h5>Enter Secret Key <span class="semi-bold"></span></h5>
            <form role="form" #secretKeyForm="ngForm">
                <div class="form-group-attached">
                  <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="authenticationOTP" class="form-group form-group-default otp">
                            <label class="">OTP</label>
                            <input 
                                type="totp" 
                                class="form-control" 
                                name="totp"
                                #otp="ngModel" 
                                (keydown.space)="$event.preventDefault()" 
                                [(ngModel)]="userLoginData.totp"
                                placeholder="Enter OTP" 
                                pattern="^[0-9]{6}$" 
                                minlength="6" 
                                maxlength="6" 
                                required
                            />
                            <div *ngIf="otp.errors && otp.dirty">
                                <div [hidden]="otp.errors.required || !otp.errors.pattern" class="error">
                                    Invalid OTP.
                                </div>
                                <div [hidden]="otp.errors.required || otp.errors.pattern || (roleNameField.errors.minlength && roleNameField.errors.minlength['requiredLength']<roleNameField.errors.minlength['actualLength'])" class="error">
                                    OTP should be at least 6 characters long.
                                </div>
                                <div [hidden]="!otp.errors.required" class="error">
                                    <p *ngIf="otpMessage">{{otpMessage}}</p>
                                    <p *ngIf="!otpMessage">OTP is required.</p>
                                </div>
                                </div>
                                <div [hidden]="otp.errors || !maxLengthExceeded['totp']" class="error">
                                    OTP should not exceed 6 characters.
                                </div>
                                <div [hidden]="(!otp.touched || otp.dirty) || (otp.value && otp.value.length)" class="error">
                                    <p *ngIf="otpMessage">{{otpMessage}}</p>
                                    <p *ngIf="!otpMessage">OTP is required.</p>
                                </div>
                        </div>
                        <div class="form-group form-group-default">
                            <label class="">Secret Key</label>
                            <input 
                                type="password" 
                                class="form-control" 
                                name="secret"
                                #secret="ngModel"
                                placeholder="Enter Secret Key"
                                [(ngModel)]="secretLoginData.secret"
                                maxlength="21"
                                (keyup)="checkMaxLength(21, secretLoginData['secret'], 'secret')" 
                                required
                            />
                            <div *ngIf="(secret.errors && (isFormSubmitted == true || (secret.dirty || secret.touched)))" class="error captcha">
                                    <div *ngIf="secret.errors.required && !secret.errors.minlength  && !secret.errors.maxlength">Secret Key is required.</div>
                                </div>
                                <div *ngIf="!secret?.errors?.minlength && !secret?.errors?.required && fieldErrors.secret" class="error captcha">
                                        Secret cannot be more than 20 characters.
                                </div>
                        </div>
                        <button *ngIf="!authenticationOTP" [disabled]="secret.invalid || fieldErrors['secret'] || fieldErrors['totp']" type="button" class="btn btn-primary changepassword-btn secret" (click)="userSecretLogin()">Submit</button>
                        <button *ngIf="authenticationOTP" [disabled]="secret.invalid || fieldErrors['secret'] || fieldErrors['totp']" type="button" class="btn btn-primary changepassword-btn secret" (click)="userLogin()">Submit</button>                    
                        <!-- <button type="button" class="btn btn-primary changepassword-btn secret" (click)="closeSecretKeyLoginModal()">Cancel</button> -->
                    </div>
                  </div>
                </div>
              </form>
        </div>
        </app-dialog>
  </div>