<div  class=" container-fluid no-padding ">
        <div class="col-md-12 no-padding bitmap_bk">
            <div class="col-md-7 login_left no-padding">
                <div class="col-md-12 no-padding login_head">
                    <img src="../../assets/img/logo-belrium-b.png" class="img-responsive" alt="logo">
                    <p>Enhanced Compliance Blockchain</p>
                    <p>Empowering individuals and businesses with the world’s<br/>
                            smartest enterprise grade compliant blockchain solution.</p>
                    <ul class="login_ul">
                        <li>
                            <h3>DPOS Consensus</h3>
                            <p>Reduces the use of energy proving security like that of bitcoin.</p>
                        </li>
                        <li>
                                <h3>Secured Contract Ability</h3>
                                <p>Empowers to fulfill plethora of use cases</p>
                            </li>
                            <li>
                                    <h3>Side Chain Capabilities</h3>
                                    <p>Private networks for Data Storage</p>
                                </li>
                                <li>
                                    <h3>Real-World Data Oracles</h3>
                                    <p>Supports Real-World Data to automate use cases</p>
                                </li>
    
                    </ul>
                    <a href="#" class="btn btn-default changepassword-btn">Know More</a>
                </div>
            </div>
            <div class="col-md-5 login no-padding">
                    <div class="col-md-12 login_welcome">
                            <p>Welcome to the</p>
                            <h2>Belrium Verification System</h2>
                    </div>
              <div class="col-md-6 login_inner">
                  <p>Enter Details to SignIn</p>
                  <form class="" role="form" #changePasswordForm="ngForm">
                        <div *ngIf="authenticationOTP" class="form-group form-group-default otp">
                            <label class="">Google 2FA OTP</label>
                            <input 
                                type="totp" 
                                class="form-control" 
                                name="totp"
                                #otp="ngModel" 
                                (keydown.space)="$event.preventDefault()" 
                                [(ngModel)]="userCredentials['totp']"
                                placeholder="Enter Google 2FA OTP" 
                                pattern="^[0-9]{6}$" 
                                minlength="6" 
                                maxlength="6" 
                                required
                            />
                            <div *ngIf="otp.errors && otp.dirty">
                                <div [hidden]="otp.errors.required || !otp.errors.pattern" class="error">
                                    Invalid OTP.
                                </div>
                                <div [hidden]="otp.errors.required || otp.errors.pattern || (roleNameField.errors.minlength && roleNameField.errors.minlength['requiredLength']<roleNameField.errors.minlength['actualLength'])" class="error">
                                    OTP should be at least 6 characters long.
                                </div>
                                <div [hidden]="!otp.errors.required" class="error">
                                    <p *ngIf="otpMessage">{{otpMessage}}</p>
                                    <p *ngIf="!otpMessage">OTP is required.</p>
                                </div>
                                </div>
                                <div [hidden]="otp.errors || !maxLengthExceeded['totp']" class="error">
                                    OTP should not exceed 6 characters.
                                </div>
                                <div [hidden]="(!otp.touched || otp.dirty) || (otp.value && otp.value.length)" class="error">
                                    <p *ngIf="otpMessage">{{otpMessage}}</p>
                                    <p *ngIf="!otpMessage">OTP is required.</p>
                                </div>
                        </div>
                        <div class="form-group form-group-default required">
                            <input 
                              type="password" 
                              [(ngModel)]="userCredentials['oldPassword']" 
                              name="oldPassword"
                              #oldPassword="ngModel"
                              class="form-control" 
                              placeholder="Old Password"
                              minlength="8"
                              maxlength="20"
                              (keyup)="checkMaxLength(20,userCredentials['oldPassword'], 'oldPassword')" 
                              required
                          />
                        <div *ngIf="oldPassword.errors && (oldPassword.dirty || oldPassword.touched)" class="error"> 
                            <div *ngIf="oldPassword.errors.required">
                                Old Password is required.
                            </div>
                            <div *ngIf="oldPassword.errors.minlength && !oldPassword.errors.required && !oldPassword.errors.maxlength">
                                    Old Password should be atleast 8 character long
                            </div>
                        </div>
                        <div *ngIf="!oldPassword?.errors?.minlength  && !oldPassword?.errors?.required && fieldErrors.oldPassword" class="error">
                              Old Password cannot be more than 20 characters.
                        </div>
                      </div>
                      <div class="form-group form-group-default required">
                            <input 
                                type="password" 
                                [(ngModel)]="userCredentials['newPassword']" 
                                name="newPassword"
                                #newPassword="ngModel"
                                class="form-control"
                                placeholder="New Password"
                                minlength="7"
                                maxlength="20"
                                pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{7,21})" 
                                (keyup)="checkMaxLength(20, userCredentials['newPassword'], 'newPassword')" 
                                required
                            />
                            <div class="password-strength-bar">
                                <ng2-password-strength-bar
                                    [passwordToCheck]="userCredentials['newPassword']"
                                    [barLabel]="barLabel"
                                    [barColors]="myColors"
                                    [strengthLabels]="strengthLabels">
                                </ng2-password-strength-bar>
                            </div>
                          <div *ngIf="(newPassword.errors && ((newPassword.dirty || newPassword.touched)))" class="error"> 
                              <div *ngIf="newPassword.errors.required && !newPassword.errors.minlength && !newPassword.errors.pattern && !newPassword.errors.maxlength"> New password is required.</div>
                              <div *ngIf="!(newPassword.errors && (isFormSubmitted == true || (newPassword.dirty || newPassword.touched))) && fieldErrors.newPassword" class="error"></div>
                              <div *ngIf="newPassword.errors.minlength && !newPassword.errors.required"> New password should be atleast 7 character long.</div>
                              <div *ngIf="newPassword.errors.pattern && !newPassword.errors.minlength && !newPassword?.errors?.maxlength && !fieldErrors.newPassword"> New password should contain atleast one uppercase, one lowercase , one number and one special character.</div>
                          </div>
                          <div *ngIf="!newPassword?.errors?.minlength && !newPassword?.errors?.required && !newPassword?.errors?.pattern" class="error" >
                              <div *ngIf=" userCredentials['newPassword'] == userCredentials['oldPassword']" >New password cannot be same as old password</div>
                            </div>
                          <!-- <div *ngIf="!newPassword?.errors?.minlength && !newPassword?.errors?.required && newPassword?.errors?.maxlength  && fieldErrors.newPassword" class="error">
                              Password cannot be more than 20 characters.
                          </div> -->
                          <div *ngIf="!newPassword?.errors?.minlength && !newPassword?.errors?.required && fieldErrors.newPassword" class="error">
                                New password cannot be more than 20 characters.
                        </div>
    
    
                      </div>
                      <div class="form-group form-group-default required">
                          <input 
                              type="password" 
                              [(ngModel)]="userCredentials['confirmPassword']" 
                              name="confirmPassword"
                              #confirmPassword="ngModel"
                              class="form-control" 
                              placeholder="Confirm Password"
                              minlength="8"
                              maxlength="20"
                              pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,21})" 
                              (keyup)="checkMaxLength(20, userCredentials['confirmPassword'], 'confirmPassword')" 
                              required
                          />
                          <div *ngIf="(confirmPassword.errors && ((confirmPassword.dirty || confirmPassword.touched)))" class="error"> 
                              <div *ngIf="confirmPassword.errors.required && !confirmPassword.errors.minlength && !confirmPassword.errors.pattern && !confirmPassword.errors.maxlength"> Confirm password is required.</div>
                          </div>
                          <div *ngIf="userCredentials['newPassword'] && userCredentials['newPassword'].length > 0 && userCredentials['confirmPassword'] && userCredentials['confirmPassword'].length > 0 &&  userCredentials['confirmPassword'] != userCredentials['newPassword']" class="error">Confirm password not matched</div>                      
                      </div>
                      <div class="form-group col-md-6 no-padding">
                          <button [disabled]="changePasswordForm.invalid || maxLengthExceeded['oldPassword'] || maxLengthExceeded['newPassword'] || maxLengthExceeded['confirmPassword']" class="btn btn-default changepassword-btn" (click)="saveAndUpdatePassword()">Change Password</button>
                        </div>
                  </form>
              
              </div>
            </div>
        </div>                  
      </div>