<div class=" container ">
  <div class="row">
    
    <div class="col-md-12">
      <!-- START card -->
      <div class="card card-transparent">
        <div class="card-header ">
          <div class="card-title">APPLICATIONS
          </div>
        </div>
        
      </div>
      <!-- END card -->
    </div>
    <div class="col-md-12">
        <div class="col-md-12 application_cat">
        <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">CATEGORIES <b class="caret"></b></a> 
          
              <ul class="dropdown-menu">
                 <li><a>Official</a></li>
                 <li><a>Official</a></li>
                 <li><a>Official</a></li>
                 <li><a>Official</a></li>
                 <li><a>Official</a></li>
                 <li><a>Official</a></li>
                 <li><a>Official</a></li>                     
              </ul>
          </li>
          <li><a routerLinkActive="active" class="active_border">HOME</a></li>
          <li><a >INSTALLED</a></li>
        </ul>
    </div>
  </div>
    <div class="col-md-12">
        <a routerLink="/sidechain" routerLinkActive="active"><div class="installed_applicaion">
        <img src="assets/img/icon.png" class="img-responsive"/>
        <h4>Sidechain</h4>
      </div>
      </a>
    </div>
    <a ><div class="col-md-12">
        <div class="col-md-12 application_installed">
        Installed Applications <i class="fa fa-angle-right"></i>
    </div>
  </div></a>
    <div class="col-md-12">
        <a routerLink="/sidechain" routerLinkActive="active"><div class="installed_applicaion">
        <img src="assets/img/icon.png" class="img-responsive"/>
        <h4>Sidechain</h4>
      </div>
      </a>
    </div>
  </div>
</div>